@font-face {
  font-family: "Chillax";
  src: url('./assets/fonts/Chillax-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: "Steppe";
  src: url('./assets/fonts/Steppe-Light.ttf');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Steppe';
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swal2-success-line-tip, .swal2-success-line-long {
  background-color: #004F44 !important;
}

.swal2-success-ring {
  border: 0.25em solid #A6B0A5 !important;
}

.swal2-confirm {
  background-color: #004F44 !important;
  transition: all 0.3s;
}

.swal2-confirm:focus {
  box-shadow: 0 0 0 3px #A6B0A5 !important;
}

.swal2-styled:hover {
  background-image: none !important;
  background-color: #234A45 !important;
}

.swal2-title {
  color: #234A45 !important;
}

.swal2-html-container {
  color: #A6B0A5 !important;
}

.swal2-error {
  border-color: #d1534f !important;
}

.swal2-error [class^=swal2-x-mark-line] {
  background-color: #d1534f !important;
}