<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/logo-b7a98226.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/db678f56b4.js" crossorigin="anonymous"></script>
    <title>Doctor Tomatto</title>
    <script type="module" crossorigin src="/assets/index-00bf9709.js"></script>
    <link rel="stylesheet" href="/assets/index-686b247e.css">
  </head>
  <body>
    <div id="root"></div>
    <div id="papermodal"></div>
    
  </body>
</html>
