<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>
        <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Código País</th>
                <th>País</th>
                <th>Ciudad</th>
                <th>Empresa</th>
                <th>Contacto</th>
                <th>Cargo</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Web</th>
                <th>Descripción</th>
                <th>Fecha Registro</th>
                <th>Tipo Propaganda</th>
                <th>Cobertura</th>
            </tr>
        </thead>
        <tbody>
    
            {% for publicidad in publicidades %}
            <tr>
                <td>{{ publicidad.codigo_pais }}</td>
                <td>{{ publicidad.pais }}</td>
                <td>{{ publicidad.ciudad }}</td>
                <td>{{ publicidad.empresa }}</td>
                <td>{{ publicidad.contacto }}</td>
                <td>{{ publicidad.cargo }}</td>
                <td>{{ publicidad.direccion }}</td>
                <td>{{ publicidad.telefono }}</td>
                <td>{{ publicidad.correo }}</td>
                <td>{{ publicidad.web }}</td>
                <td>{{ publicidad.descripcion }}</td>
                <td>{{ publicidad.fecha_registro }}</td>
                <td>{{ publicidad.tipo_propaganda }}</td>
                <td>{{ publicidad.cobertura }}</td>
            </tr>
            {% endfor %}</tbody>
    </table>




</body></html>